.heading{
	background-color: #D3D8DE;
	text-align: center;
	height: 100px;
	font-size: 50px;
	margin-top: 20px;
	font-family: impact;
	color: #323237;
	border: ridge;
	border-width: 10px;
	border-color: #323237;
}

.button-1{
	background-color: #D3D8DE;
	text-align: center;
	height: 75px;
	margin-top: 225px;
	padding-top: 20px;
	border-radius: 45%;
	border: ridge;
	border-width: 5px;
	border-color: #323237;
}

.linkStyles{
	text-align: center;
	font-family: impact;
	color: #323237;
	font-size: 20px;
	text-decoration: none;
}
.linkStyles:hover{
	text-decoration: none;
	color: white;
}

.THEMOUSE{
	padding-top: 75px;
	border: ridge;
	border-width: 5px;
	border-color: #323237;
}

.hoverStyles{
	background-color: darkgray;
	text-align: center;
	height: 75px;
	margin-top: 225px;
	padding-top: 20px;
	border-radius: 45%;
}

#clicky{
	border: groove;
	border-color: #D3D8DE;
	color: #323237;
	margin-top: 20px;
	border-width: 20px;
	font-family: impact;
	color: black;
	font-size: 30px;
}

#click{
	border: groove;
	border-color: #D3D8DE;
	color: #323237;
	margin-top: 20px;
	border-width: 20px;
	font-family: impact;
	color: black;
	font-size: 30px;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url() 50% 50% no-repeat rgb(249,249,249);
}

#gelatoCat{
	background-color: brown;
	color: tan;
	font-family: Impact;
	font-weight: bold;
}












